## 1 - Question

'''A Series is a one-dimensional array of data. 
It can hold data of any type: string, integer, float, dictionaries, lists, booleans, and more.
'''

## 2 - Question

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
a = [1, 2, 3,4,5,6,7,8,9,10,11,12]
months = pd.Series(a, index =['January','February','March','April','May','June','July','August','September','October','November','December'])

In [4]:
print('Months')
print(months)

Months
January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int64

## 3 - Question

I don't know the exact number of other groups, so I just wrote them randomly.

In [5]:
groups={'MatMIE': 28,'Mat DAIS':29, 'COMIE': 31,'COMEC':34}
students = pd.Series(groups)
print('Groups')
print(students)

Groups
MatMIE      28
Mat DAIS    29
COMIE       31
COMEC       34
dtype: int64

## 4 - Question

Sample Python dictionary data and list labels which is given in OCS:

In [6]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data=pd.DataFrame (exam_data, index=labels)
print (data )

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

My Python dictionary, which I create:

In [7]:
calculus_assignment = {'Name':['Nursezim', 'Dariya', 'Aliia', 'Meerim', 'Aigerim', 'Madina', 'Aiturgan','Perizat','Gulum', 'Nazik'],
                       'Surname':['Alieva','Aralova','Asanova','Askarbekova','Bekibaeva','Gabbazova','Kanybekova','Kunduzbekova','Manasova','Omurgazieva'],
                       'Group number':[1,1,1,1,1,1,2,2,2,3],
                       'Assignment number':[1,1,1,1,1,1,3,3,3,2]}
labels=[1,2,3,4,5,6,7,8,9,10]
calculus=pd.DataFrame(calculus_assignment, index=labels)
print(calculus)

        Name       Surname  Group number  Assignment number
1   Nursezim        Alieva             1                  1
2     Dariya       Aralova             1                  1
3      Aliia       Asanova             1                  1
4     Meerim   Askarbekova             1                  1
5    Aigerim     Bekibaeva             1                  1
6     Madina     Gabbazova             1                  1
7   Aiturgan    Kanybekova             2                  3
8    Perizat  Kunduzbekova             2                  3
9      Gulum      Manasova             2                  3
10     Nazik   Omurgazieva             3                  2

## 5- Question

This task related with that Sample Python Program, which is given in OCS.
Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [8]:
print('Number of attempts in the examination which are greater than 2:')
attempts2= data[data['attempts']>2]
print(attempts2)

Number of attempts in the examination which are greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

Now the task related with my Python dictionary program:
Select the rows where the the Group number is 1 which is my group.

In [9]:
print('The first group\'s members are: ')
my_group=calculus[calculus['Group number']==1]
print(my_group)

The first group's members are:
       Name      Surname  Group number  Assignment number
1  Nursezim       Alieva             1                  1
2    Dariya      Aralova             1                  1
3     Aliia      Asanova             1                  1
4    Meerim  Askarbekova             1                  1
5   Aigerim    Bekibaeva             1                  1
6    Madina    Gabbazova             1                  1