# HA-3: Data cleaning

## 1. Handling Missing Data Questions:

###### How do you identify and handle missing values in a Pandas DataFrame?

In a DataFrame, missing values are commonly represented as NaN(Not a Number). There are some methods help to identify and handle missing values in a Pandas DataFrame.

##### 1.Identifying Missing Values

To identify we can use isnull() or isna() functions. These functions returns a Boolean values for each row:Returns True for every row that is a empty, otherwise False:

In [1]:
import pandas as pd
pd.options.display.max_rows=100
data=pd.read_csv('peoplea-100.csv', delimiter = ';')
data.isnull()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,True,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,True,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,True,False,False
51,False,True,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False
55,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,True,False,False,False
57,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,True,False,False
59,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False
62,False,False,False,False,False,False,False,False,False
63,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False
65,False,False,False,False,False,False,False,False,False
66,False,False,False,False,False,False,False,False,False
67,False,False,False,False,False,False,False,False,False
68,False,False,False,False,False,False,False,False,False
69,False,False,False,False,False,False,False,False,False
70,False,True,False,False,False,False,False,False,False
71,False,False,False,False,False,False,False,False,False
72,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,False
78,False,False,False,False,False,False,False,False,False
79,False,False,False,False,False,False,False,False,False
80,False,False,False,False,False,False,False,False,False
81,False,False,False,False,False,False,False,False,False
82,False,False,False,False,False,True,False,False,False
83,False,False,False,False,False,False,True,False,False
84,False,False,False,False,False,False,False,False,False
85,False,False,False,False,False,False,False,False,False
86,False,False,False,False,False,False,False,False,False
87,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,True,False,False
91,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False
93,False,True,False,False,False,False,False,False,False
94,False,False,False,False,False,True,False,False,False
95,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,True,False,False
99,False,False,False,False,False,False,False,False,False

###### 2.Counting Missing Values

Also we can count the number of missing values in each column by using the sum() function.

In [2]:
data.isnull().sum()

Index            0
User Id          5
First Name       0
Last Name        0
Sex              0
Email            5
Phone            6
Date of birth    0
Job Title        0
dtype: int64

## Methods to handle missing values

### Dropping Missing Values

One way to deal with empty cells is to remove rows or columns that contain empty cells by using dropna() method.

In [3]:
data1=data.dropna()           # Drop rows with any missing values
data2=data.dropna(axis=1)     # Drop columns with any missing values
data1
data2

,Index,First Name,Last Name,Sex,Date of birth,Job Title
0,1,Shelby,Terrell,Male,26.10.1945,Games developer
1,2,Phillip,Summers,Female,24.03.1910,Phytotherapist
2,3,Kristine,Travis,Male,19920702,Homeopath
3,3,Kristine,Travis,Male,19920702,Homeopath
4,5,Lori,Todd,Male,01.12.1938,Veterinary surgeon
5,6,Erin,Day,Male,28.10.2015,Waste management officer
6,7,Katherine,Buck,Female,22.01.1989,Intelligence analyst
7,8,Ricardo,Hinton,Male,26.03.1924,Hydrogeologist
8,9,Dave,Farrell,Male,06.10.2018,Lawyer
9,10,Isaiah,Downs,Male,20.09.1964,Engineer site
10,11,Sheila,Ross,Female,20.03.2008,Advertising account executive
11,12,Stacy,Newton,Male,20.10.1980,Warden/ranger
12,13,Mandy,Blake,Male,08.12.2007,Scientist-clinical
13,14,Bridget,Nash,Female,28.06.2004,Social worker
14,15,Crystal,Farmer,Male,09.03.1992,Agricultural consultant
15,16,Thomas,Knight,Female,18.02.2006,Sport and exercise psychologist
16,17,Maurice,Rangel,Male,20.08.2004,Secretary/administrator
17,18,Frank,Meadows,Male,16.09.2008,Audiological scientist
18,19,Alvin,Paul,Male,12.05.1949,Teacher- adult education
19,20,Jared,Mitchell,Female,18.01.1921,Paediatric nurse
20,20,Jared,Mitchell,Female,18.01.1921,Paediatric nurse
21,22,Colleen,Hatfield,Female,14.10.1949,Commercial horticulturist
22,23,Randy,Barnes,Male,30.12.1947,Outdoor activities/education manager
23,24,Janice,Rhodes,Female,01.11.1999,Drilling engineer
24,25,Alfred,Mcneil,Female,28.05.1993,Systems analyst
25,26,Sean,Levine,Male,09.10.2010,Conservation officer/nature
26,27,Louis,Payne,Male,29.01.1916,Counsellor
27,28,Brittney,Vega,Female,19321031,Recycling officer
28,29,Judy,Buckley,Male,28.07.1963,Art gallery manager
29,30,Norman,Weber,Male,21.05.1957,Gaffer
30,31,Isaiah,Camacho,Female,07.04.1966,Food technologist
31,32,Jacqueline,Gallagher,Male,25.02.1999,Building services engineer
32,33,Bonnie,Andrews,Female,21.12.1953,Seismic interpreter
33,34,Brandon,Schmidt,Female,12.05.1931,Engineer- biomedical
34,35,Jackson,Sparks,Female,18.11.1980,Set designer
35,36,Melody,Cook,Male,25.06.1963,Research scientist (life sciences)
36,37,Leonard,Hurst,Male,13.03.1938,Accountant- chartered management
37,38,Gene,Rich,Female,22.08.1946,Surveyor/ quantity
38,39,Cynthia,Wiggins,Female,27.01.1984,Outdoor activities/education manager
39,40,Tanya,Mckinney,Female,2003|03|12,Information systems manager
40,41,Matthew,Stone,Female,23.08.2017,Scientist/ clinical (histocompatibility and im...
41,42,Kirk,Walsh,Female,08.04.2009,Accounting technician
42,43,Willie,Vang,Female,02.02.1978,Management consultant
43,44,Miguel,Hill,Female,26.08.1930,Make
44,45,Darren,Andrews,Male,04.10.1997,Retail banker
45,46,Haley,Pugh,Female,16.09.1980,Commissioning editor
46,47,Danielle,Estrada,Female,09.07.1930,Accountant/ chartered management
47,47,Danielle,Estrada,Female,09.07.1930,Accountant/ chartered management
48,49,Caitlyn,Frey,Male,26.01.1968,Jewellery designer
49,50,Joshua,Sweeney,Male,28.07.1954,Education officer/ museum
50,51,Heidi,Escobar,Female,25.09.1931,Estate manager/land agent
51,52,Brian,Oconnell,Female,23.10.1911,Physiotherapist
52,53,Beverly,Esparza,Female,09.12.1930,Passenger transport manager
53,54,Nathaniel,Rivas,Female,17.11.1908,Call centre manager
54,55,Debra,Payne,Female,20.08.1927,Special educational needs teacher
55,56,Mackenzie,Rocha,Female,21.10.1980,Museum/gallery exhibitions officer
56,57,Courtney,Watkins,Female,07.12.2003,Pension scheme manager
57,58,Fred,Olsen,Female,10.04.1910,Archaeologist
58,59,Ryan,Nelson,Female,02.05.1924,Historic buildings inspector/conservation officer
59,60,Grace,Phelps,Male,15.10.1909,Petroleum engineer
60,61,Shari,Daugherty,Male,24.11.1944,Curator
61,62,Kelli,Garner,Male,17.01.2010,Retail banker
62,63,Jackie,Bennett,Male,11.11.1915,Neurosurgeon
63,64,Leslie,Conway,Female,06.11.1983,Chiropractor
64,65,Harold,Barnett,Female,15.03.1943,Biochemist/ clinical
65,66,Larry,Harper,Male,05.05.2021,Scientist/ water quality
66,67,Mike,Ward,Female,19671109,Hydrologist
67,68,Brittney,Rubio,Female,24.12.1959,Biochemist/ clinical
68,69,Frank,Pineda,Male,10.03.1926,Biochemist/ clinical
69,70,Sandra,Wu,Male,28.04.1925,Biochemist/ clinical
70,71,Ryan,Benton,Male,06.10.2020,Biochemist/ clinical
71,72,Tamara,Hull,Male,31.01.1933,Biochemist/ clinical
72,73,Jean,Ritter,Female,06.08.1985,Biochemist/ clinical
73,74,Veronica,Briggs,Female,08.06.1974,Biochemist/ clinical
74,75,Kim,Andrews,Female,15.11.1990,Biochemist/ clinical
75,76,Tina,Cunningham,Male,29.11.1956,Biochemist/ clinical
76,77,Jonathon,Atkinson,Male,19.07.2011,Biochemist/ clinical
77,77,Jonathon,Atkinson,Male,19.07.2011,Biochemist/ clinical
78,79,Regina,Stevens,Male,28.11.2011,Biochemist/ clinical
79,80,Terrence,Huff,Male,27.02.1944,Biochemist/ clinical
80,81,Tyler,Foley,Female,19.09.1908,Biochemist/ clinical
81,82,Andrew,Waters,Male,14.05.1948,Biochemist/ clinical
82,83,Reginald,Stephenson,Male,08.02.2010,Biochemist/ clinical
83,84,Douglas,Reese,Female,1961\11\11,Biochemist/ clinical
84,85,Helen,Williamson,Female,11.08.1911,Biochemist/ clinical
85,86,Mario,Vaughn,Male,08.07.1990,Biochemist/ clinical
86,87,Chelsea,Dickson,Male,13.05.1958,Biochemist/ clinical
87,88,Dustin,Bailey,Male,22.08.1908,Biochemist/ clinical
88,89,Harry,Medina,Female,24.08.1947,Biochemist/ clinical
89,90,Kathy,Haney,Female,02.09.1955,Biochemist/ clinical
90,91,Alison,Nixon,Female,10.07.1941,Biochemist/ clinical
91,92,Jamie,Hardy,Female,17.07.1994,Biochemist/ clinical
92,93,Melody,Cox,Female,30.07.1974,Biochemist/ clinical
93,94,Xavier,Cole,Male,29.11.1938,Biochemist/ clinical
94,95,Dillon,Guzman,Female,01.04.1942,Biochemist/ clinical
95,96,Dennis,Barnes,Female,30.07.1954,Biochemist/ clinical
96,97,Steve,Patterson,Female,29.04.1932,Biochemist/ clinical
97,98,Wesley,Bray,Male,28.12.1994,Biochemist/ clinical
98,99,Summer,Oconnell,Female,12.04.2012,Biochemist/ clinical
99,100,Mariah,Bernard,Male,15.11.2016,Biochemist/ clinical

###### Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
###### If we want to change the original DataFrame, we use the inplace = True argument

### Filling Missing Values/Replace Empty Values

Another way of dealing with empty cells is to insert a new value instead.This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value.

In [4]:
data3=data.fillna('something')
data3

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,26.10.1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,24.03.1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,19920702,Homeopath
3,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,19920702,Homeopath
4,5,something,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,01.12.1938,Veterinary surgeon
5,6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,28.10.2015,Waste management officer
6,7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,22.01.1989,Intelligence analyst
7,8,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,26.03.1924,Hydrogeologist
8,9,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,06.10.2018,Lawyer
9,10,8e4FB470FE19bF0,Isaiah,Downs,Male,something,+1-511-372-1544x8206,20.09.1964,Engineer site
10,11,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com,895.881.4746,20.03.2008,Advertising account executive
11,12,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org,710.673.3213x80335,20.10.1980,Warden/ranger
12,13,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org,(992)466-1305x4947,08.12.2007,Scientist-clinical
13,14,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com,(216)627-8359,28.06.2004,Social worker
14,15,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org,something,09.03.1992,Agricultural consultant
15,16,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net,-2005,18.02.2006,Sport and exercise psychologist
16,17,D6dbA5308fEC4BC,Maurice,Rangel,Male,sheenabanks@example.com,(246)187-4969,20.08.2004,Secretary/administrator
17,18,311D775990f066d,Frank,Meadows,Male,something,429.965.3902x4447,16.09.2008,Audiological scientist
18,19,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com,219.436.0887x07551,12.05.1949,Teacher- adult education
19,20,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com,-8587,18.01.1921,Paediatric nurse
20,20,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com,-8587,18.01.1921,Paediatric nurse
21,22,42F4BdA841aBadC,Colleen,Hatfield,Female,fknox@example.org,638.584.1090,14.10.1949,Commercial horticulturist
22,23,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org,001-960-629-7164x67214,30.12.1947,Outdoor activities/education manager
23,24,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net,001-249-314-9742x6996,01.11.1999,Drilling engineer
24,25,c5B09fb33e8bA0A,Alfred,Mcneil,Female,cassandramorris@example.com,(468)276-9509x53058,28.05.1993,Systems analyst
25,26,c9F2282C40BEC1E,Sean,Levine,Male,sallymiller@example.net,4915828504,09.10.2010,Conservation officer/nature
26,27,9c1bc7EC53Fb7cE,Louis,Payne,Male,bsullivan@example.net,6232695307,29.01.1916,Counsellor
27,28,ddEc50e2A2e3a2B,Brittney,Vega,Female,ayalajose@example.net,945-739-8686,19321031,Recycling officer
28,29,66F096D36Ebae11,Judy,Buckley,Male,irosales@example.net,001-654-208-1241x52830,28.07.1963,Art gallery manager
29,30,F0fE2faAd78F8b5,Norman,Weber,Male,mconrad@example.com,223.002.0429,21.05.1957,Gaffer
30,31,5d2feAfbdCAA6B5,Isaiah,Camacho,Female,jimblake@example.org,001-536-544-3367,07.04.1966,Food technologist
31,32,cDa5F303fCd6dEa,Jacqueline,Gallagher,Male,nsampson@example.net,(247)762-8934,25.02.1999,Building services engineer
32,33,something,Bonnie,Andrews,Female,caitlin24@example.net,+1-253-987-2776x9161,21.12.1953,Seismic interpreter
33,34,6Dec5b5542F8ed8,Brandon,Schmidt,Female,mconley@example.net,+1-386-673-1465x006,12.05.1931,Engineer- biomedical
34,35,3Fb8a7f68e12784,Jackson,Sparks,Female,reynoldsdarryl@example.net,(137)908-3129x65035,18.11.1980,Set designer
35,36,035eff50B9A0F24,Melody,Cook,Male,jeannovak@example.org,(826)792-7381,25.06.1963,Research scientist (life sciences)
36,37,aa614aAE4B7Cf0C,Leonard,Hurst,Male,clinton78@example.org,941-038-0427x38800,13.03.1938,Accountant- chartered management
37,38,ACcde95AAe3e6cC,Gene,Rich,Female,luisdeleon@example.org,+1-356-818-6604x89537,22.08.1946,Surveyor/ quantity
38,39,b6a35de5CB6fc25,Cynthia,Wiggins,Female,rosariodave@example.org,(110)858-2437x70190,27.01.1984,Outdoor activities/education manager
39,40,e92A191E345fA3A,Tanya,Mckinney,Female,vickihouston@example.com,(830)774-9002x086,2003|03|12,Information systems manager
40,41,7D0AcBF6CCac3fd,Matthew,Stone,Female,evelyn31@example.org,952-381-6360,23.08.2017,Scientist/ clinical (histocompatibility and im...
41,42,CEFA7BBCef013AE,Kirk,Walsh,Female,stephenfuller@example.org,001-826-496-5529x8661,08.04.2009,Accounting technician
42,43,9edBC94aE7cA22a,Willie,Vang,Female,haleymathews@example.net,741.168.6854x067,02.02.1978,Management consultant
43,44,fFe7BAA737aDbe2,Miguel,Hill,Female,tyrone56@example.org,5247842945,26.08.1930,Make
44,45,5F2f3fAca8B0946,Darren,Andrews,Male,lhernandez@example.com,(975)799-4261,04.10.1997,Retail banker
45,46,6bFcfc3cc1BC6B4,Haley,Pugh,Female,molly03@example.org,(746)182-6137x2453,16.09.1980,Commissioning editor
46,47,f3BD2cBF7eEb6df,Danielle,Estrada,Female,jvang@example.org,(890)374-9518x772,09.07.1930,Accountant/ chartered management
47,47,f3BD2cBF7eEb6df,Danielle,Estrada,Female,jvang@example.org,(890)374-9518x772,09.07.1930,Accountant/ chartered management
48,49,dBCEf340C3657Eb,Caitlyn,Frey,Male,rivasdominique@example.org,805-021-3965x46344,26.01.1968,Jewellery designer
49,50,E47FB71DD9ACCd9,Joshua,Sweeney,Male,daisymcgee@example.net,875.994.2100x535,28.07.1954,Education officer/ museum
50,51,eA3fDd79BE9f0E7,Heidi,Escobar,Female,staffordtravis@example.net,something,25.09.1931,Estate manager/land agent
51,52,something,Brian,Oconnell,Female,saralong@example.net,952-283-1423x733,23.10.1911,Physiotherapist
52,53,9F5DeD7aD228F5a,Beverly,Esparza,Female,iphelps@example.net,+1-327-578-8754x6771,09.12.1930,Passenger transport manager
53,54,D3Fa0220dDE4d36,Nathaniel,Rivas,Female,roberto29@example.com,(655)887-2040x37888,17.11.1908,Call centre manager
54,55,60FdBFd5e7BE8fF,Debra,Payne,Female,yolanda07@example.org,001-731-525-8400x52593,20.08.1927,Special educational needs teacher
55,56,D8bF5Ab2b98caff,Mackenzie,Rocha,Female,abbottyvette@example.net,4225525458,21.10.1980,Museum/gallery exhibitions officer
56,57,CD8d33aA25bc8BB,Courtney,Watkins,Female,something,210.683.2761x5883,07.12.2003,Pension scheme manager
57,58,Fac3BfFf0A3d03c,Fred,Olsen,Female,amyanderson@example.com,497-774-3053,10.04.1910,Archaeologist
58,59,e552D7ddafe1FFb,Ryan,Nelson,Female,qnorman@example.org,something,02.05.1924,Historic buildings inspector/conservation officer
59,60,0f8deedb629A5f6,Grace,Phelps,Male,clarkeangela@example.net,(034)867-8827x6777,15.10.1909,Petroleum engineer
60,61,bB9e49E506F65ed,Shari,Daugherty,Male,kalvarado@example.org,001-951-655-4798x6124,24.11.1944,Curator
61,62,Ed724605A403D91,Kelli,Garner,Male,jodyvincent@example.org,995.000.4213x0982,17.01.2010,Retail banker
62,63,0aBE5ACb18E0c10,Jackie,Bennett,Male,hutchinsonkirk@example.com,001-740-937-0846x0087,11.11.1915,Neurosurgeon
63,64,5D2cb63CaAF53f6,Leslie,Conway,Female,floreschristina@example.org,795.782.4384x555,06.11.1983,Chiropractor
64,65,Ee6974f90eeCe18,Harold,Barnett,Female,nathan65@example.org,-6682,15.03.1943,Biochemist/ clinical
65,66,cEf02C076afa07f,Larry,Harper,Male,maria32@example.org,+1-244-630-3792x4121,05.05.2021,Scientist/ water quality
66,67,9Df5Ba591bF3EFf,Mike,Ward,Female,imccullough@example.com,116-729-5046,19671109,Hydrologist
67,68,3faB1CBfEFBDdD4,Brittney,Rubio,Female,corey92@example.com,593.976.2528,24.12.1959,Biochemist/ clinical
68,69,Ebcefdf75eCb0a9,Frank,Pineda,Male,daltoncalvin@example.net,(035)961-5060x9182,10.03.1926,Biochemist/ clinical
69,70,e75e5DBfcb68887,Sandra,Wu,Male,ubanks@example.com,+1-096-606-6454x067,28.04.1925,Biochemist/ clinical
70,71,something,Ryan,Benton,Male,lopezdebbie@example.org,+1-695-557-9948x485,06.10.2020,Biochemist/ clinical
71,72,F0d3bD1aaf9E3Bc,Tamara,Hull,Male,meagan39@example.net,017.665.3744x7944,31.01.1933,Biochemist/ clinical
72,73,5bC87340799FBD0,Jean,Ritter,Female,kristina76@example.com,(954)060-1066,06.08.1985,Biochemist/ clinical
73,74,dBfA17Aaf16b4ab,Veronica,Briggs,Female,weissbridget@example.com,+1-521-589-2387x48490,08.06.1974,Biochemist/ clinical
74,75,c935b7Eb6FA0B0F,Kim,Andrews,Female,wpetersen@example.org,7677125383,15.11.1990,Biochemist/ clinical
75,76,b3e15e65Ca2CcBf,Tina,Cunningham,Male,wongmary@example.org,079-907-5051,29.11.1956,Biochemist/ clinical
76,77,dade3452F0c32FD,Jonathon,Atkinson,Male,gailfrench@example.net,874-037-2032x932,19.07.2011,Biochemist/ clinical
77,77,dade3452F0c32FD,Jonathon,Atkinson,Male,gailfrench@example.net,874-037-2032x932,19.07.2011,Biochemist/ clinical
78,79,DAf111987098ae4,Regina,Stevens,Male,xpoole@example.net,891-359-2684,28.11.2011,Biochemist/ clinical
79,80,6e6a5b885F6496d,Terrence,Huff,Male,cassandra80@example.org,221.800.6408x5416,27.02.1944,Biochemist/ clinical
80,81,12DCb4ED8E01D5C,Tyler,Foley,Female,johnathan72@example.org,001-386-469-3075x8030,19.09.1908,Biochemist/ clinical
81,82,E1cB5cA8CA7CC0a,Andrew,Waters,Male,nhall@example.net,+1-376-865-2765x3351,14.05.1948,Biochemist/ clinical
82,83,AedDfaE8Cf49F07,Reginald,Stephenson,Male,something,+1-832-500-6044x475,08.02.2010,Biochemist/ clinical
83,84,bff9853aFAeF772,Douglas,Reese,Female,nixonvanessa@example.net,something,1961\11\11,Biochemist/ clinical
84,85,E883773cA5219Be,Helen,Williamson,Female,melvin08@example.net,001-377-726-4229,11.08.1911,Biochemist/ clinical
85,86,CB19EafEbBfF9eC,Mario,Vaughn,Male,oblake@example.com,160-144-5039x12276,08.07.1990,Biochemist/ clinical
86,87,5834700fbEd2771,Chelsea,Dickson,Male,johnnyhendricks@example.net,001-698-651-0138x18588,13.05.1958,Biochemist/ clinical
87,88,2b0Ab1Dc9E01D7E,Dustin,Bailey,Male,pbarron@example.net,+1-965-621-1157x345,22.08.1908,Biochemist/ clinical
88,89,3f3a3D89ad042Dd,Harry,Medina,Female,olsenmalik@example.net,-6354,24.08.1947,Biochemist/ clinical
89,90,9425E2F38C408ef,Kathy,Haney,Female,teresa37@example.com,(164)105-8456,02.09.1955,Biochemist/ clinical
90,91,F0aeC9c2759F3C6,Alison,Nixon,Female,zmiles@example.net,something,10.07.1941,Biochemist/ clinical
91,92,d6EA619A7C4aA95,Jamie,Hardy,Female,sheenadouglas@example.com,(900)803-9295x11533,17.07.1994,Biochemist/ clinical
92,93,2A33E7Cad1bb0F5,Melody,Cox,Female,evan90@example.org,(626)520-5080x3511,30.07.1974,Biochemist/ clinical
93,94,something,Xavier,Cole,Male,nicolas90@example.org,8164259975,29.11.1938,Biochemist/ clinical
94,95,feaBf8dAE0C0d6F,Dillon,Guzman,Female,something,971-992-4521,01.04.1942,Biochemist/ clinical
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,30.07.1954,Biochemist/ clinical
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,29.04.1932,Biochemist/ clinical
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,28.12.1994,Biochemist/ clinical
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,something,12.04.2012,Biochemist/ clinical
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,15.11.2016,Biochemist/ clinical

##### We have also ffill()(forward fill missing values with the previous value) and bfill()(backward fill missing values with the next value) methods.

We can also replace only for specified columns.To only replace empty values for one column, we should specify the column name for the DataFrame

In [5]:
data4=data['User Id'].fillna('Identity document')
data4

0       88F7B33d2bcf9f5
1       f90cD3E76f1A9b9
2       DbeAb8CcdfeFC2c
3       DbeAb8CcdfeFC2c
4     Identity document
5       bfDD7CDEF5D865B
6       bE9EEf34cB72AF7
7       2EFC6A4e77FaEaC
8       baDcC4DeefD8dEB
9       8e4FB470FE19bF0
10      BF0BbA03C29Bb3b
11      F738c69fB34E62E
12      C03fDADdAadAdCe
13      b759b74BD1dE80d
14      1F0B7D65A00DAF9
15      50Bb061cB30B461
16      D6dbA5308fEC4BC
17      311D775990f066d
18      7F7E1BAcb0C9AFf
19      88473e15D5c3cD0
20      88473e15D5c3cD0
21      42F4BdA841aBadC
22      cBbBcA0FCA3C4Bc
23      f1f89173353aD90
24      c5B09fb33e8bA0A
25      c9F2282C40BEC1E
26      9c1bc7EC53Fb7cE
27      ddEc50e2A2e3a2B
28      66F096D36Ebae11
29      F0fE2faAd78F8b5
30      5d2feAfbdCAA6B5
31      cDa5F303fCd6dEa
32    Identity document
33      6Dec5b5542F8ed8
34      3Fb8a7f68e12784
35      035eff50B9A0F24
36      aa614aAE4B7Cf0C
37      ACcde95AAe3e6cC
38      b6a35de5CB6fc25
39      e92A191E345fA3A
40      7D0AcBF6CCac3fd
41      CEFA7BBCef013AE
42      9edBC94aE7cA22a
43      fFe7BAA737aDbe2
44      5F2f3fAca8B0946
45      6bFcfc3cc1BC6B4
46      f3BD2cBF7eEb6df
47      f3BD2cBF7eEb6df
48      dBCEf340C3657Eb
49      E47FB71DD9ACCd9
50      eA3fDd79BE9f0E7
51    Identity document
52      9F5DeD7aD228F5a
53      D3Fa0220dDE4d36
54      60FdBFd5e7BE8fF
55      D8bF5Ab2b98caff
56      CD8d33aA25bc8BB
57      Fac3BfFf0A3d03c
58      e552D7ddafe1FFb
59      0f8deedb629A5f6
60      bB9e49E506F65ed
61      Ed724605A403D91
62      0aBE5ACb18E0c10
63      5D2cb63CaAF53f6
64      Ee6974f90eeCe18
65      cEf02C076afa07f
66      9Df5Ba591bF3EFf
67      3faB1CBfEFBDdD4
68      Ebcefdf75eCb0a9
69      e75e5DBfcb68887
70    Identity document
71      F0d3bD1aaf9E3Bc
72      5bC87340799FBD0
73      dBfA17Aaf16b4ab
74      c935b7Eb6FA0B0F
75      b3e15e65Ca2CcBf
76      dade3452F0c32FD
77      dade3452F0c32FD
78      DAf111987098ae4
79      6e6a5b885F6496d
80      12DCb4ED8E01D5C
81      E1cB5cA8CA7CC0a
82      AedDfaE8Cf49F07
83      bff9853aFAeF772
84      E883773cA5219Be
85      CB19EafEbBfF9eC
86      5834700fbEd2771
87      2b0Ab1Dc9E01D7E
88      3f3a3D89ad042Dd
89      9425E2F38C408ef
90      F0aeC9c2759F3C6
91      d6EA619A7C4aA95
92      2A33E7Cad1bb0F5
93    Identity document
94      feaBf8dAE0C0d6F
95      5eFda7caAeB260E
96      CCbFce93d3720bE
97      2fEc528aFAF0b69
98      Adc7ad9B6e4A1Fe
99      b8D0aD3490FC7e1
Name: User Id, dtype: object

### Replace Using Mean, Median, or Mode

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column

##### Mean = the average value (the sum of all values divided by number of values).

##### Median = the value in the middle, after you have sorted all values ascending.

##### Mode = the value that appears most frequently.

#### Mean imputation is appropriate for normally distributed data without extreme outliers. On the other hand, median imputation is more suitable when dealing with skewed data or datasets that contain outliers.
They work only with numbers.

### For small data sets we might be able to replace the missinng value one by one by loc attribute, but not for big data sets.
#### loc attribute return one or more specified row(s)

In [6]:
data.loc[4,'User Id'] = 'Qwertyuiop'

data

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,26.10.1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,24.03.1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,19920702,Homeopath
3,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,19920702,Homeopath
4,5,Qwertyuiop,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,01.12.1938,Veterinary surgeon
5,6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,28.10.2015,Waste management officer
6,7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,22.01.1989,Intelligence analyst
7,8,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,26.03.1924,Hydrogeologist
8,9,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,06.10.2018,Lawyer
9,10,8e4FB470FE19bF0,Isaiah,Downs,Male,NaN,+1-511-372-1544x8206,20.09.1964,Engineer site
10,11,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com,895.881.4746,20.03.2008,Advertising account executive
11,12,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org,710.673.3213x80335,20.10.1980,Warden/ranger
12,13,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org,(992)466-1305x4947,08.12.2007,Scientist-clinical
13,14,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com,(216)627-8359,28.06.2004,Social worker
14,15,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org,NaN,09.03.1992,Agricultural consultant
15,16,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net,-2005,18.02.2006,Sport and exercise psychologist
16,17,D6dbA5308fEC4BC,Maurice,Rangel,Male,sheenabanks@example.com,(246)187-4969,20.08.2004,Secretary/administrator
17,18,311D775990f066d,Frank,Meadows,Male,NaN,429.965.3902x4447,16.09.2008,Audiological scientist
18,19,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com,219.436.0887x07551,12.05.1949,Teacher- adult education
19,20,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com,-8587,18.01.1921,Paediatric nurse
20,20,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com,-8587,18.01.1921,Paediatric nurse
21,22,42F4BdA841aBadC,Colleen,Hatfield,Female,fknox@example.org,638.584.1090,14.10.1949,Commercial horticulturist
22,23,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org,001-960-629-7164x67214,30.12.1947,Outdoor activities/education manager
23,24,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net,001-249-314-9742x6996,01.11.1999,Drilling engineer
24,25,c5B09fb33e8bA0A,Alfred,Mcneil,Female,cassandramorris@example.com,(468)276-9509x53058,28.05.1993,Systems analyst
25,26,c9F2282C40BEC1E,Sean,Levine,Male,sallymiller@example.net,4915828504,09.10.2010,Conservation officer/nature
26,27,9c1bc7EC53Fb7cE,Louis,Payne,Male,bsullivan@example.net,6232695307,29.01.1916,Counsellor
27,28,ddEc50e2A2e3a2B,Brittney,Vega,Female,ayalajose@example.net,945-739-8686,19321031,Recycling officer
28,29,66F096D36Ebae11,Judy,Buckley,Male,irosales@example.net,001-654-208-1241x52830,28.07.1963,Art gallery manager
29,30,F0fE2faAd78F8b5,Norman,Weber,Male,mconrad@example.com,223.002.0429,21.05.1957,Gaffer
30,31,5d2feAfbdCAA6B5,Isaiah,Camacho,Female,jimblake@example.org,001-536-544-3367,07.04.1966,Food technologist
31,32,cDa5F303fCd6dEa,Jacqueline,Gallagher,Male,nsampson@example.net,(247)762-8934,25.02.1999,Building services engineer
32,33,NaN,Bonnie,Andrews,Female,caitlin24@example.net,+1-253-987-2776x9161,21.12.1953,Seismic interpreter
33,34,6Dec5b5542F8ed8,Brandon,Schmidt,Female,mconley@example.net,+1-386-673-1465x006,12.05.1931,Engineer- biomedical
34,35,3Fb8a7f68e12784,Jackson,Sparks,Female,reynoldsdarryl@example.net,(137)908-3129x65035,18.11.1980,Set designer
35,36,035eff50B9A0F24,Melody,Cook,Male,jeannovak@example.org,(826)792-7381,25.06.1963,Research scientist (life sciences)
36,37,aa614aAE4B7Cf0C,Leonard,Hurst,Male,clinton78@example.org,941-038-0427x38800,13.03.1938,Accountant- chartered management
37,38,ACcde95AAe3e6cC,Gene,Rich,Female,luisdeleon@example.org,+1-356-818-6604x89537,22.08.1946,Surveyor/ quantity
38,39,b6a35de5CB6fc25,Cynthia,Wiggins,Female,rosariodave@example.org,(110)858-2437x70190,27.01.1984,Outdoor activities/education manager
39,40,e92A191E345fA3A,Tanya,Mckinney,Female,vickihouston@example.com,(830)774-9002x086,2003|03|12,Information systems manager
40,41,7D0AcBF6CCac3fd,Matthew,Stone,Female,evelyn31@example.org,952-381-6360,23.08.2017,Scientist/ clinical (histocompatibility and im...
41,42,CEFA7BBCef013AE,Kirk,Walsh,Female,stephenfuller@example.org,001-826-496-5529x8661,08.04.2009,Accounting technician
42,43,9edBC94aE7cA22a,Willie,Vang,Female,haleymathews@example.net,741.168.6854x067,02.02.1978,Management consultant
43,44,fFe7BAA737aDbe2,Miguel,Hill,Female,tyrone56@example.org,5247842945,26.08.1930,Make
44,45,5F2f3fAca8B0946,Darren,Andrews,Male,lhernandez@example.com,(975)799-4261,04.10.1997,Retail banker
45,46,6bFcfc3cc1BC6B4,Haley,Pugh,Female,molly03@example.org,(746)182-6137x2453,16.09.1980,Commissioning editor
46,47,f3BD2cBF7eEb6df,Danielle,Estrada,Female,jvang@example.org,(890)374-9518x772,09.07.1930,Accountant/ chartered management
47,47,f3BD2cBF7eEb6df,Danielle,Estrada,Female,jvang@example.org,(890)374-9518x772,09.07.1930,Accountant/ chartered management
48,49,dBCEf340C3657Eb,Caitlyn,Frey,Male,rivasdominique@example.org,805-021-3965x46344,26.01.1968,Jewellery designer
49,50,E47FB71DD9ACCd9,Joshua,Sweeney,Male,daisymcgee@example.net,875.994.2100x535,28.07.1954,Education officer/ museum
50,51,eA3fDd79BE9f0E7,Heidi,Escobar,Female,staffordtravis@example.net,NaN,25.09.1931,Estate manager/land agent
51,52,NaN,Brian,Oconnell,Female,saralong@example.net,952-283-1423x733,23.10.1911,Physiotherapist
52,53,9F5DeD7aD228F5a,Beverly,Esparza,Female,iphelps@example.net,+1-327-578-8754x6771,09.12.1930,Passenger transport manager
53,54,D3Fa0220dDE4d36,Nathaniel,Rivas,Female,roberto29@example.com,(655)887-2040x37888,17.11.1908,Call centre manager
54,55,60FdBFd5e7BE8fF,Debra,Payne,Female,yolanda07@example.org,001-731-525-8400x52593,20.08.1927,Special educational needs teacher
55,56,D8bF5Ab2b98caff,Mackenzie,Rocha,Female,abbottyvette@example.net,4225525458,21.10.1980,Museum/gallery exhibitions officer
56,57,CD8d33aA25bc8BB,Courtney,Watkins,Female,NaN,210.683.2761x5883,07.12.2003,Pension scheme manager
57,58,Fac3BfFf0A3d03c,Fred,Olsen,Female,amyanderson@example.com,497-774-3053,10.04.1910,Archaeologist
58,59,e552D7ddafe1FFb,Ryan,Nelson,Female,qnorman@example.org,NaN,02.05.1924,Historic buildings inspector/conservation officer
59,60,0f8deedb629A5f6,Grace,Phelps,Male,clarkeangela@example.net,(034)867-8827x6777,15.10.1909,Petroleum engineer
60,61,bB9e49E506F65ed,Shari,Daugherty,Male,kalvarado@example.org,001-951-655-4798x6124,24.11.1944,Curator
61,62,Ed724605A403D91,Kelli,Garner,Male,jodyvincent@example.org,995.000.4213x0982,17.01.2010,Retail banker
62,63,0aBE5ACb18E0c10,Jackie,Bennett,Male,hutchinsonkirk@example.com,001-740-937-0846x0087,11.11.1915,Neurosurgeon
63,64,5D2cb63CaAF53f6,Leslie,Conway,Female,floreschristina@example.org,795.782.4384x555,06.11.1983,Chiropractor
64,65,Ee6974f90eeCe18,Harold,Barnett,Female,nathan65@example.org,-6682,15.03.1943,Biochemist/ clinical
65,66,cEf02C076afa07f,Larry,Harper,Male,maria32@example.org,+1-244-630-3792x4121,05.05.2021,Scientist/ water quality
66,67,9Df5Ba591bF3EFf,Mike,Ward,Female,imccullough@example.com,116-729-5046,19671109,Hydrologist
67,68,3faB1CBfEFBDdD4,Brittney,Rubio,Female,corey92@example.com,593.976.2528,24.12.1959,Biochemist/ clinical
68,69,Ebcefdf75eCb0a9,Frank,Pineda,Male,daltoncalvin@example.net,(035)961-5060x9182,10.03.1926,Biochemist/ clinical
69,70,e75e5DBfcb68887,Sandra,Wu,Male,ubanks@example.com,+1-096-606-6454x067,28.04.1925,Biochemist/ clinical
70,71,NaN,Ryan,Benton,Male,lopezdebbie@example.org,+1-695-557-9948x485,06.10.2020,Biochemist/ clinical
71,72,F0d3bD1aaf9E3Bc,Tamara,Hull,Male,meagan39@example.net,017.665.3744x7944,31.01.1933,Biochemist/ clinical
72,73,5bC87340799FBD0,Jean,Ritter,Female,kristina76@example.com,(954)060-1066,06.08.1985,Biochemist/ clinical
73,74,dBfA17Aaf16b4ab,Veronica,Briggs,Female,weissbridget@example.com,+1-521-589-2387x48490,08.06.1974,Biochemist/ clinical
74,75,c935b7Eb6FA0B0F,Kim,Andrews,Female,wpetersen@example.org,7677125383,15.11.1990,Biochemist/ clinical
75,76,b3e15e65Ca2CcBf,Tina,Cunningham,Male,wongmary@example.org,079-907-5051,29.11.1956,Biochemist/ clinical
76,77,dade3452F0c32FD,Jonathon,Atkinson,Male,gailfrench@example.net,874-037-2032x932,19.07.2011,Biochemist/ clinical
77,77,dade3452F0c32FD,Jonathon,Atkinson,Male,gailfrench@example.net,874-037-2032x932,19.07.2011,Biochemist/ clinical
78,79,DAf111987098ae4,Regina,Stevens,Male,xpoole@example.net,891-359-2684,28.11.2011,Biochemist/ clinical
79,80,6e6a5b885F6496d,Terrence,Huff,Male,cassandra80@example.org,221.800.6408x5416,27.02.1944,Biochemist/ clinical
80,81,12DCb4ED8E01D5C,Tyler,Foley,Female,johnathan72@example.org,001-386-469-3075x8030,19.09.1908,Biochemist/ clinical
81,82,E1cB5cA8CA7CC0a,Andrew,Waters,Male,nhall@example.net,+1-376-865-2765x3351,14.05.1948,Biochemist/ clinical
82,83,AedDfaE8Cf49F07,Reginald,Stephenson,Male,NaN,+1-832-500-6044x475,08.02.2010,Biochemist/ clinical
83,84,bff9853aFAeF772,Douglas,Reese,Female,nixonvanessa@example.net,NaN,1961\11\11,Biochemist/ clinical
84,85,E883773cA5219Be,Helen,Williamson,Female,melvin08@example.net,001-377-726-4229,11.08.1911,Biochemist/ clinical
85,86,CB19EafEbBfF9eC,Mario,Vaughn,Male,oblake@example.com,160-144-5039x12276,08.07.1990,Biochemist/ clinical
86,87,5834700fbEd2771,Chelsea,Dickson,Male,johnnyhendricks@example.net,001-698-651-0138x18588,13.05.1958,Biochemist/ clinical
87,88,2b0Ab1Dc9E01D7E,Dustin,Bailey,Male,pbarron@example.net,+1-965-621-1157x345,22.08.1908,Biochemist/ clinical
88,89,3f3a3D89ad042Dd,Harry,Medina,Female,olsenmalik@example.net,-6354,24.08.1947,Biochemist/ clinical
89,90,9425E2F38C408ef,Kathy,Haney,Female,teresa37@example.com,(164)105-8456,02.09.1955,Biochemist/ clinical
90,91,F0aeC9c2759F3C6,Alison,Nixon,Female,zmiles@example.net,NaN,10.07.1941,Biochemist/ clinical
91,92,d6EA619A7C4aA95,Jamie,Hardy,Female,sheenadouglas@example.com,(900)803-9295x11533,17.07.1994,Biochemist/ clinical
92,93,2A33E7Cad1bb0F5,Melody,Cox,Female,evan90@example.org,(626)520-5080x3511,30.07.1974,Biochemist/ clinical
93,94,NaN,Xavier,Cole,Male,nicolas90@example.org,8164259975,29.11.1938,Biochemist/ clinical
94,95,feaBf8dAE0C0d6F,Dillon,Guzman,Female,NaN,971-992-4521,01.04.1942,Biochemist/ clinical
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,30.07.1954,Biochemist/ clinical
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,29.04.1932,Biochemist/ clinical
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,28.12.1994,Biochemist/ clinical
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,NaN,12.04.2012,Biochemist/ clinical
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,15.11.2016,Biochemist/ clinical

### What is imputation, and why might it be useful in dealing with missing data?

Imputation is the process of replacing missing values in a dataset with estimated or predicted values.It's useful because it helps us keep our dataset complete and lets us include partially filled entries when we're analyzing or studying the data. By doing this, we avoid losing important details, enhance the accuracy of our predictions, and get a better overall picture of the information we have.

###### For example, replacing missing values with the mean, mode or median of the column.

## 2. Data Transformation Questions:

Data transformation refers to the process of converting data from its original format into a different form to enhance its suitability for analysis. This can involve applying various techniques like normalization, scaling, or encoding, which aim to modify the data in ways that facilitate better analytical insights.

### How can you encode categorical variables in a Pandas DataFrame?

Categorical data is a collection of information that is divided into groups. I.e, if an organisation or agency is trying to get a biodata of its employees, the resulting data is referred to as categorical.

Categorical features are features that can take a limited number of values, such as color, gender or  political affiliation .

A categorical feature is also called a nominal feature.

###### Encoding categorical data is a process of converting categorical data into integer format so that the data with converted categorical values can be provided to the different models.

###### Encoding categorical variables is a crucial step when working with machine learning algorithms, as these models typically require numerical input. Here are several methods to encode categorical variables in a Pandas DataFrame

### Pandas factorize()

The factorize() function in Pandas is a tool for turning categories (like colors or names) into numbers. When you use factorize() on a column with categories, it gives you two things:

1. A list of numbers that represent the different categories in the data.
2. A list that shows which number corresponds to which category.

In simple terms, it helps you change categories into numbers so a computer can understand and work with them more easily.

In [7]:
encoded_labels, unique_categories = pd.factorize(data['Sex'])
print(encoded_labels)
print(unique_categories)

[0 1 0 0 0 0 1 0 0 0 1 0 0 1 0 1 0 0 0 1 1 1 0 1 1 0 0 1 0 0 1 0 1 1 1 0 0
 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 1 0 0 1 1 0 0 0 1 1 1 1 1 0 1 1 1 0 1 0]
Index(['Male', 'Female'], dtype='object')

### Pandas get_dummies()

This approach makes new columns for every category in a group, turning them into 0s(False) and 1s(True). So, instead of having one column with categories, you get separate columns for each category, each showing if it's present (1) or not (0). This replaces the initial column and makes the data more computer-friendly.

#### This approach is called one-hot encoding as we get binary features.

In [8]:
data=pd.get_dummies(data, columns=['Sex'])
print(data.head())

   Index          User Id First Name Last Name                       Email  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell        elijah57@example.net
1      2  f90cD3E76f1A9b9    Phillip   Summers       bethany14@example.com
2      3  DbeAb8CcdfeFC2c   Kristine    Travis       bthompson@example.com
3      3  DbeAb8CcdfeFC2c   Kristine    Travis       bthompson@example.com
4      5       Qwertyuiop       Lori      Todd  buchananmanuel@example.net

                    Phone Date of birth           Job Title  Sex_Female  \
0  001-084-906-7849x73518    26.10.1945     Games developer       False
1       214.112.6044x4913    24.03.1910      Phytotherapist        True
2            277.609.7938      19920702           Homeopath       False
3            277.609.7938      19920702           Homeopath       False
4       689-207-3558x7233    01.12.1938  Veterinary surgeon       False

   Sex_Male
0      True
1     False
2      True
3      True
4      True

If your categories have a specific order (like low, medium, high), you can give them unique number codes. This helps the computer understand their order. But, be careful with this for categories without a real order because it might make the computer think there's a sequence when there isn't.

### Pandas astype Method:

 df['column_name'] = df['column_name'].astype('new_data_type')
 
df['column_name'] = df['column_name'].astype('category').cat.codes
 
 df['column_name']: Refers to the specific column you want to change.

.astype('new_data_type'): Indicates the desired data type to which you want to convert the column.For example, you might use astype(int) to convert a column to integer type or astype(float) for floating-point numbers.
In the context of encoding categorical variables, the astype('category') part is particularly relevant. When you use astype('category') followed by .cat.codes, you're essentially converting a categorical column to numeric codes.

### Frequency Encoding:

In [9]:
# Calculate the frequency of each category
#freq_encoding = df['Category'].value_counts(normalize=True)

# Map frequencies back to the original DataFrame
#df['Category_FrequencyEncoded'] = df['Category'].map(freq_encoding)

Frequency encoding is a method where categorical variables are encoded based on their frequency in the dataset.In this code, freq_encoding represents the proportion of each category's occurrence in the 'Category' column. We then map these frequencies back to the original DataFrame, creating a new column 'Category_FrequencyEncoded' with the frequency-encoded values.

### Ordinal Encoding:

In [10]:
# Define ordinal mapping
#ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}

# Map ordinal categories to numerical values
#df['Category_OrdinalEncoded'] = df['Category'].map(ordinal_mapping)

Ordinal encoding is a method of encoding categorical variables with ordered categories into numerical values.In this code, 'Low' is mapped to 1, 'Medium' to 2, and 'High' to 3, preserving the ordinal relationship of the categories in the 'Category_OrdinalEncoded' column.

### What is one-hot encoding, and when would you use it in data preprocessing?

One-hot encoding is a method used to convert categorical variables into binary vectors. Each category is represented by a binary column, and only one column is "hot" (1) for a given observation. Here's a brief explanation with code:

In [11]:
#import pandas as pd

# Assuming 'Category' is a categorical column in your DataFrame
#df = pd.get_dummies(df, columns=['Category'], prefix='Category')

In this code, get_dummies function in Pandas is used to perform one-hot encoding. It creates binary columns for each category in the 'Category' column, and the prefix 'Category' is added to the column names for clarity. This method is valuable when dealing with categorical data in machine learning, particularly when there is no inherent order among categories. It helps prevent misinterpretation of ordinal relationships and ensures compatibility with algorithms that require numerical input. In one-hot encoding, each category is treated independently, and the resulting binary matrix provides a clear representation of the categorical information for machine learning models.

## 3. Removing Duplicates Questions:

### How do you identify and remove duplicate rows from a DataFrame?
### Can you explain the difference between the duplicated() and drop_duplicates() methods in Pandas?

##### To identify duplicates, we can use the duplicated() method.It returns a Boolean values for each row: returns True for every row that is a duplicate, otherwise False.

##### To remove duplicates, we use the drop_duplicates() method.

##### And it is the difference between them.

In [12]:
data.duplicated()

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47     True
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77     True
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
dtype: bool

In [13]:
print(data.duplicated().sum())

4

In [14]:
data.drop_duplicates(inplace = True)
data

,Index,User Id,First Name,Last Name,Email,Phone,Date of birth,Job Title,Sex_Female,Sex_Male
0,1,88F7B33d2bcf9f5,Shelby,Terrell,elijah57@example.net,001-084-906-7849x73518,26.10.1945,Games developer,False,True
1,2,f90cD3E76f1A9b9,Phillip,Summers,bethany14@example.com,214.112.6044x4913,24.03.1910,Phytotherapist,True,False
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,bthompson@example.com,277.609.7938,19920702,Homeopath,False,True
4,5,Qwertyuiop,Lori,Todd,buchananmanuel@example.net,689-207-3558x7233,01.12.1938,Veterinary surgeon,False,True
5,6,bfDD7CDEF5D865B,Erin,Day,tconner@example.org,001-171-649-9856x5553,28.10.2015,Waste management officer,False,True
6,7,bE9EEf34cB72AF7,Katherine,Buck,conniecowan@example.com,+1-773-151-6685x49162,22.01.1989,Intelligence analyst,True,False
7,8,2EFC6A4e77FaEaC,Ricardo,Hinton,wyattbishop@example.com,001-447-699-7998x88612,26.03.1924,Hydrogeologist,False,True
8,9,baDcC4DeefD8dEB,Dave,Farrell,nmccann@example.net,603-428-2429x27392,06.10.2018,Lawyer,False,True
9,10,8e4FB470FE19bF0,Isaiah,Downs,NaN,+1-511-372-1544x8206,20.09.1964,Engineer site,False,True
10,11,BF0BbA03C29Bb3b,Sheila,Ross,huangcathy@example.com,895.881.4746,20.03.2008,Advertising account executive,True,False
11,12,F738c69fB34E62E,Stacy,Newton,rayleroy@example.org,710.673.3213x80335,20.10.1980,Warden/ranger,False,True
12,13,C03fDADdAadAdCe,Mandy,Blake,jefferynoble@example.org,(992)466-1305x4947,08.12.2007,Scientist-clinical,False,True
13,14,b759b74BD1dE80d,Bridget,Nash,mercedes44@example.com,(216)627-8359,28.06.2004,Social worker,True,False
14,15,1F0B7D65A00DAF9,Crystal,Farmer,pmiranda@example.org,NaN,09.03.1992,Agricultural consultant,False,True
15,16,50Bb061cB30B461,Thomas,Knight,braunpriscilla@example.net,-2005,18.02.2006,Sport and exercise psychologist,True,False
16,17,D6dbA5308fEC4BC,Maurice,Rangel,sheenabanks@example.com,(246)187-4969,20.08.2004,Secretary/administrator,False,True
17,18,311D775990f066d,Frank,Meadows,NaN,429.965.3902x4447,16.09.2008,Audiological scientist,False,True
18,19,7F7E1BAcb0C9AFf,Alvin,Paul,gilbertdonaldson@example.com,219.436.0887x07551,12.05.1949,Teacher- adult education,False,True
19,20,88473e15D5c3cD0,Jared,Mitchell,jcortez@example.com,-8587,18.01.1921,Paediatric nurse,True,False
21,22,42F4BdA841aBadC,Colleen,Hatfield,fknox@example.org,638.584.1090,14.10.1949,Commercial horticulturist,True,False
22,23,cBbBcA0FCA3C4Bc,Randy,Barnes,huangbill@example.org,001-960-629-7164x67214,30.12.1947,Outdoor activities/education manager,False,True
23,24,f1f89173353aD90,Janice,Rhodes,juarezdominique@example.net,001-249-314-9742x6996,01.11.1999,Drilling engineer,True,False
24,25,c5B09fb33e8bA0A,Alfred,Mcneil,cassandramorris@example.com,(468)276-9509x53058,28.05.1993,Systems analyst,True,False
25,26,c9F2282C40BEC1E,Sean,Levine,sallymiller@example.net,4915828504,09.10.2010,Conservation officer/nature,False,True
26,27,9c1bc7EC53Fb7cE,Louis,Payne,bsullivan@example.net,6232695307,29.01.1916,Counsellor,False,True
27,28,ddEc50e2A2e3a2B,Brittney,Vega,ayalajose@example.net,945-739-8686,19321031,Recycling officer,True,False
28,29,66F096D36Ebae11,Judy,Buckley,irosales@example.net,001-654-208-1241x52830,28.07.1963,Art gallery manager,False,True
29,30,F0fE2faAd78F8b5,Norman,Weber,mconrad@example.com,223.002.0429,21.05.1957,Gaffer,False,True
30,31,5d2feAfbdCAA6B5,Isaiah,Camacho,jimblake@example.org,001-536-544-3367,07.04.1966,Food technologist,True,False
31,32,cDa5F303fCd6dEa,Jacqueline,Gallagher,nsampson@example.net,(247)762-8934,25.02.1999,Building services engineer,False,True
32,33,NaN,Bonnie,Andrews,caitlin24@example.net,+1-253-987-2776x9161,21.12.1953,Seismic interpreter,True,False
33,34,6Dec5b5542F8ed8,Brandon,Schmidt,mconley@example.net,+1-386-673-1465x006,12.05.1931,Engineer- biomedical,True,False
34,35,3Fb8a7f68e12784,Jackson,Sparks,reynoldsdarryl@example.net,(137)908-3129x65035,18.11.1980,Set designer,True,False
35,36,035eff50B9A0F24,Melody,Cook,jeannovak@example.org,(826)792-7381,25.06.1963,Research scientist (life sciences),False,True
36,37,aa614aAE4B7Cf0C,Leonard,Hurst,clinton78@example.org,941-038-0427x38800,13.03.1938,Accountant- chartered management,False,True
37,38,ACcde95AAe3e6cC,Gene,Rich,luisdeleon@example.org,+1-356-818-6604x89537,22.08.1946,Surveyor/ quantity,True,False
38,39,b6a35de5CB6fc25,Cynthia,Wiggins,rosariodave@example.org,(110)858-2437x70190,27.01.1984,Outdoor activities/education manager,True,False
39,40,e92A191E345fA3A,Tanya,Mckinney,vickihouston@example.com,(830)774-9002x086,2003|03|12,Information systems manager,True,False
40,41,7D0AcBF6CCac3fd,Matthew,Stone,evelyn31@example.org,952-381-6360,23.08.2017,Scientist/ clinical (histocompatibility and im...,True,False
41,42,CEFA7BBCef013AE,Kirk,Walsh,stephenfuller@example.org,001-826-496-5529x8661,08.04.2009,Accounting technician,True,False
42,43,9edBC94aE7cA22a,Willie,Vang,haleymathews@example.net,741.168.6854x067,02.02.1978,Management consultant,True,False
43,44,fFe7BAA737aDbe2,Miguel,Hill,tyrone56@example.org,5247842945,26.08.1930,Make,True,False
44,45,5F2f3fAca8B0946,Darren,Andrews,lhernandez@example.com,(975)799-4261,04.10.1997,Retail banker,False,True
45,46,6bFcfc3cc1BC6B4,Haley,Pugh,molly03@example.org,(746)182-6137x2453,16.09.1980,Commissioning editor,True,False
46,47,f3BD2cBF7eEb6df,Danielle,Estrada,jvang@example.org,(890)374-9518x772,09.07.1930,Accountant/ chartered management,True,False
48,49,dBCEf340C3657Eb,Caitlyn,Frey,rivasdominique@example.org,805-021-3965x46344,26.01.1968,Jewellery designer,False,True
49,50,E47FB71DD9ACCd9,Joshua,Sweeney,daisymcgee@example.net,875.994.2100x535,28.07.1954,Education officer/ museum,False,True
50,51,eA3fDd79BE9f0E7,Heidi,Escobar,staffordtravis@example.net,NaN,25.09.1931,Estate manager/land agent,True,False
51,52,NaN,Brian,Oconnell,saralong@example.net,952-283-1423x733,23.10.1911,Physiotherapist,True,False
52,53,9F5DeD7aD228F5a,Beverly,Esparza,iphelps@example.net,+1-327-578-8754x6771,09.12.1930,Passenger transport manager,True,False
53,54,D3Fa0220dDE4d36,Nathaniel,Rivas,roberto29@example.com,(655)887-2040x37888,17.11.1908,Call centre manager,True,False
54,55,60FdBFd5e7BE8fF,Debra,Payne,yolanda07@example.org,001-731-525-8400x52593,20.08.1927,Special educational needs teacher,True,False
55,56,D8bF5Ab2b98caff,Mackenzie,Rocha,abbottyvette@example.net,4225525458,21.10.1980,Museum/gallery exhibitions officer,True,False
56,57,CD8d33aA25bc8BB,Courtney,Watkins,NaN,210.683.2761x5883,07.12.2003,Pension scheme manager,True,False
57,58,Fac3BfFf0A3d03c,Fred,Olsen,amyanderson@example.com,497-774-3053,10.04.1910,Archaeologist,True,False
58,59,e552D7ddafe1FFb,Ryan,Nelson,qnorman@example.org,NaN,02.05.1924,Historic buildings inspector/conservation officer,True,False
59,60,0f8deedb629A5f6,Grace,Phelps,clarkeangela@example.net,(034)867-8827x6777,15.10.1909,Petroleum engineer,False,True
60,61,bB9e49E506F65ed,Shari,Daugherty,kalvarado@example.org,001-951-655-4798x6124,24.11.1944,Curator,False,True
61,62,Ed724605A403D91,Kelli,Garner,jodyvincent@example.org,995.000.4213x0982,17.01.2010,Retail banker,False,True
62,63,0aBE5ACb18E0c10,Jackie,Bennett,hutchinsonkirk@example.com,001-740-937-0846x0087,11.11.1915,Neurosurgeon,False,True
63,64,5D2cb63CaAF53f6,Leslie,Conway,floreschristina@example.org,795.782.4384x555,06.11.1983,Chiropractor,True,False
64,65,Ee6974f90eeCe18,Harold,Barnett,nathan65@example.org,-6682,15.03.1943,Biochemist/ clinical,True,False
65,66,cEf02C076afa07f,Larry,Harper,maria32@example.org,+1-244-630-3792x4121,05.05.2021,Scientist/ water quality,False,True
66,67,9Df5Ba591bF3EFf,Mike,Ward,imccullough@example.com,116-729-5046,19671109,Hydrologist,True,False
67,68,3faB1CBfEFBDdD4,Brittney,Rubio,corey92@example.com,593.976.2528,24.12.1959,Biochemist/ clinical,True,False
68,69,Ebcefdf75eCb0a9,Frank,Pineda,daltoncalvin@example.net,(035)961-5060x9182,10.03.1926,Biochemist/ clinical,False,True
69,70,e75e5DBfcb68887,Sandra,Wu,ubanks@example.com,+1-096-606-6454x067,28.04.1925,Biochemist/ clinical,False,True
70,71,NaN,Ryan,Benton,lopezdebbie@example.org,+1-695-557-9948x485,06.10.2020,Biochemist/ clinical,False,True
71,72,F0d3bD1aaf9E3Bc,Tamara,Hull,meagan39@example.net,017.665.3744x7944,31.01.1933,Biochemist/ clinical,False,True
72,73,5bC87340799FBD0,Jean,Ritter,kristina76@example.com,(954)060-1066,06.08.1985,Biochemist/ clinical,True,False
73,74,dBfA17Aaf16b4ab,Veronica,Briggs,weissbridget@example.com,+1-521-589-2387x48490,08.06.1974,Biochemist/ clinical,True,False
74,75,c935b7Eb6FA0B0F,Kim,Andrews,wpetersen@example.org,7677125383,15.11.1990,Biochemist/ clinical,True,False
75,76,b3e15e65Ca2CcBf,Tina,Cunningham,wongmary@example.org,079-907-5051,29.11.1956,Biochemist/ clinical,False,True
76,77,dade3452F0c32FD,Jonathon,Atkinson,gailfrench@example.net,874-037-2032x932,19.07.2011,Biochemist/ clinical,False,True
78,79,DAf111987098ae4,Regina,Stevens,xpoole@example.net,891-359-2684,28.11.2011,Biochemist/ clinical,False,True
79,80,6e6a5b885F6496d,Terrence,Huff,cassandra80@example.org,221.800.6408x5416,27.02.1944,Biochemist/ clinical,False,True
80,81,12DCb4ED8E01D5C,Tyler,Foley,johnathan72@example.org,001-386-469-3075x8030,19.09.1908,Biochemist/ clinical,True,False
81,82,E1cB5cA8CA7CC0a,Andrew,Waters,nhall@example.net,+1-376-865-2765x3351,14.05.1948,Biochemist/ clinical,False,True
82,83,AedDfaE8Cf49F07,Reginald,Stephenson,NaN,+1-832-500-6044x475,08.02.2010,Biochemist/ clinical,False,True
83,84,bff9853aFAeF772,Douglas,Reese,nixonvanessa@example.net,NaN,1961\11\11,Biochemist/ clinical,True,False
84,85,E883773cA5219Be,Helen,Williamson,melvin08@example.net,001-377-726-4229,11.08.1911,Biochemist/ clinical,True,False
85,86,CB19EafEbBfF9eC,Mario,Vaughn,oblake@example.com,160-144-5039x12276,08.07.1990,Biochemist/ clinical,False,True
86,87,5834700fbEd2771,Chelsea,Dickson,johnnyhendricks@example.net,001-698-651-0138x18588,13.05.1958,Biochemist/ clinical,False,True
87,88,2b0Ab1Dc9E01D7E,Dustin,Bailey,pbarron@example.net,+1-965-621-1157x345,22.08.1908,Biochemist/ clinical,False,True
88,89,3f3a3D89ad042Dd,Harry,Medina,olsenmalik@example.net,-6354,24.08.1947,Biochemist/ clinical,True,False
89,90,9425E2F38C408ef,Kathy,Haney,teresa37@example.com,(164)105-8456,02.09.1955,Biochemist/ clinical,True,False
90,91,F0aeC9c2759F3C6,Alison,Nixon,zmiles@example.net,NaN,10.07.1941,Biochemist/ clinical,True,False
91,92,d6EA619A7C4aA95,Jamie,Hardy,sheenadouglas@example.com,(900)803-9295x11533,17.07.1994,Biochemist/ clinical,True,False
92,93,2A33E7Cad1bb0F5,Melody,Cox,evan90@example.org,(626)520-5080x3511,30.07.1974,Biochemist/ clinical,True,False
93,94,NaN,Xavier,Cole,nicolas90@example.org,8164259975,29.11.1938,Biochemist/ clinical,False,True
94,95,feaBf8dAE0C0d6F,Dillon,Guzman,NaN,971-992-4521,01.04.1942,Biochemist/ clinical,True,False
95,96,5eFda7caAeB260E,Dennis,Barnes,bmartin@example.org,001-095-524-2112x257,30.07.1954,Biochemist/ clinical,True,False
96,97,CCbFce93d3720bE,Steve,Patterson,latasha46@example.net,001-865-478-5157,29.04.1932,Biochemist/ clinical,True,False
97,98,2fEc528aFAF0b69,Wesley,Bray,regina11@example.org,995-542-3004x76800,28.12.1994,Biochemist/ clinical,False,True
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,alexiscantrell@example.org,NaN,12.04.2012,Biochemist/ clinical,True,False
99,100,b8D0aD3490FC7e1,Mariah,Bernard,pcopeland@example.org,(341)594-6554x44657,15.11.2016,Biochemist/ clinical,False,True

## 4. Data Scaling and Normalization Questions:

### Discuss the importance of feature scaling in machine learning.

Feature scaling is crucial in machine learning because it ensures that all the different characteristics (features) in your data are treated fairly. Imagine you have features like height and salary; since they're in different units, without scaling, one might have more influence than the other. Scaling helps algorithms work better by making sure all features are on a similar scale. This is important for accuracy, stability, and faster convergence in algorithms. It prevents certain features from dominating the model and supports distance calculations, making your machine learning models more reliable and interpretable.

Scaling means adjusting the values of features to a certain range. It keeps the overall pattern of the data but changes the scale. This is handy when features are in different ranges, and some algorithms care about how big or small the features are. Methods like Min-Max scaling and Standardization are commonly used for this.

### Explain the difference between min-max scaling and z-score normalization.

##### Min-Max scaling and Z-score normalization are both methods to scale your data, but they do it in slightly different ways:

###### Min-Max Scaling:
Idea: Adjusts values to a specific range, typically between 0 and 1.
How: Subtract the minimum value and divide by the range (difference between maximum and minimum).
Use when: You want all values to be on a similar scale, and you know the range of your data.
###### Z-score Normalization:
Idea: Adjusts values to have a mean of 0 and a standard deviation of 1.
How: Subtract the mean and divide by the standard deviation.
Use when: You want to compare values in terms of how many standard deviations they are from the mean, or when you don't know the range of your data.

In short, Min-Max scaling makes values fit between 0 and 1, while Z-score normalization centers values around the mean and adjusts for their spread.

## 5. Handling Outliers Questions:

### What are outliers, and why might they impact machine learning models?

Outliers are data points that are significantly different from the majority of the data. They are unusually high or low values that stand out from the rest of the observations.

In simple words, outliers are like the odd ones out in a group of friends. Imagine everyone has a similar height, and suddenly there's a friend who is much taller or shorter than everyone else—that friend is an outlier.

Outliers can impact machine learning models because they might mislead the model about the general pattern in the data. Models often try to find trends or relationships, and outliers can make the model think there's a pattern that doesn't really exist.

For example, if you're predicting house prices based on the number of bedrooms, and there's an outlier with an extremely high price for a one-bedroom house, the model might incorrectly learn that more bedrooms always mean higher prices.

So, dealing with outliers is important to help machine learning models make more accurate predictions by focusing on the common patterns in the data and not being misled by unusual values.

### Describe different methods for detecting outliers in a dataset in Python

Outliers are extreme values that deviate significantly from the majority of the data.So they can negatively impact the analysis and model performance. Techniques such as clustering, interpolation, or transformation can be used to handle outliers.

To check the outliers, We generally use a box plot. A box plot, also referred to as a box-and-whisker plot, is a graphical representation of a dataset’s distribution.

#### Z-score method

The Z-score method helps us find unusual or extreme values in a set of data. It calculates how far each number is from the average (mean) in terms of standard deviations. If a number is too far away (typically more than 2 or 3 standard deviations), it's considered an outlier—something that stands out. This method helps spot data points that might be different from the rest.

##### Here's how you can calculate the Z-score for a data point:

Z=(X−Mean)/Standard Deviation

Where:

Z is the Z-score.
X is the individual data point.
Mean is the mean of the dataset.
Standard Deviation is the standard deviation of the dataset.

The Z-score can be positive or negative. Typically, a Z-score greater than 3 or less than -3 is considered an outlier.

##### To identify outliers using the Z-score method:
1.Calculate the Z-score for each data point in the dataset.
2.Set a threshold value, usually around 2 to 3 standard deviations. Data points with Z-scores beyond this threshold are considered outliers.
3.Identify and analyze the outliers.


It's important to note that while the Z-score method is useful for detecting outliers, it has limitations. It assumes that the data is normally distributed and can be sensitive to extreme values. In cases where the data is not normally distributed, other outlier detection methods may be more appropriate.

Additionally, when dealing with outliers, it's crucial to consider the context of the data and the potential reasons for outliers before deciding whether to remove or adjust them. Outliers may sometimes represent genuine observations or reveal valuable insights about the data.(it's important to think about why they're different before deciding what to do with them.)

#### Interquartile Range (IQR)

The Interquartile Range (IQR) method is another statistical technique for identifying outliers in a dataset. The IQR is a measure of statistical dispersion and is based on the range between the first quartile (Q1) and the third quartile (Q3) of a dataset.

Here's how you can use the IQR method to identify outliers:

1. **Calculate the IQR:**
   IQR=Q3−Q1

2. **Identify the Lower and Upper Bound:**
   - **Lower Bound:** Q1−1.5×IQR
   - **Upper Bound:** Q3+1.5×IQR

3. **Identify Outliers:**
   - Any data point below the Lower Bound or above the Upper Bound is considered an outlier.

In simpler terms:

- The IQR is a range that represents the middle 50% of the data.
- The Lower and Upper Bound are calculated based on the IQR.
- Data points outside this range (beyond 1.5 times the IQR) are flagged as potential outliers.

Unlike the Z-score method, the IQR method is less sensitive to extreme values and works well for datasets that may not be normally distributed. It is particularly useful when dealing with skewed or non-symmetric data.

Remember, as with any outlier detection method, it's essential to understand the nature of your data and consider the context before deciding how to handle outliers.

### How can you handle outliers in a continuous numerical variable in Python?

Handling outliers in a continuous numerical variable in Python involves various methods, and the choice depends on the nature of your data and the specific requirements of your analysis. Here are a few common approaches using Python:

Handling outliers in a continuous numerical variable in Python involves various methods, and the choice depends on the nature of your data and the specific requirements of your analysis. Here are a few common approaches using Python:

1. **Visualizing Data:**
   Before deciding how to handle outliers, it's essential to visualize your data. Use histograms, box plots, or scatter plots to understand the distribution and identify potential outliers.
   ##### Use plots to see if there are any unusual values.

   ```python
   import seaborn as sns
   import matplotlib.pyplot as plt

   # Assuming 'data' is your dataset
   sns.boxplot(x=data['your_variable'])
   plt.show()
   ```

2. **Trimming or Winsorizing:**
   Remove or cap extreme values beyond a certain threshold. This involves setting a maximum or minimum value for data points that exceed a specified limit.
   ##### Set a limit for extreme values or replace them with less extreme values.

   ```python
   # Assuming 'data' is your dataset
   threshold = 3  # Adjust as needed
   data['your_variable'] = data['your_variable'].clip(lower=data['your_variable'].quantile(0.05), upper=data['your_variable'].quantile(0.95))
   ```

3. **Transformation:**
   Apply mathematical transformations to your data to reduce the impact of outliers. Common transformations include the logarithmic or square root transformations.
   ##### Change the data using mathematical operations like logarithms.

   ```python
   # Assuming 'data' is your dataset
   import numpy as np
   data['your_variable'] = np.log1p(data['your_variable'])
   ```

4. **Z-Score or IQR Method:**
   Use the Z-score or IQR method to identify and remove outliers based on statistical measures.
   ##### Identify and remove outliers based on statistical measures.

   ```python
   from scipy import stats

   # Assuming 'data' is your dataset
   z_scores = np.abs(stats.zscore(data['your_variable']))
   data_no_outliers = data[(z_scores < 3)]  # Adjust the threshold as needed
   ```

5. **Machine Learning Models:**
   Train machine learning models that are robust to outliers. Models like Random Forests or Gradient Boosting Trees often handle outliers well.
   ##### Train models that handle outliers well, like Random Forests.

   ```python
   from sklearn.ensemble import RandomForestRegressor

   # Assuming 'data' is your dataset
   X = data.drop('your_variable', axis=1)
   y = data['your_variable']
   model = RandomForestRegressor()
   model.fit(X, y)
   predictions = model.predict(X)
   ```

Remember to assess the impact of outlier handling on your analysis and choose the method that best fits the characteristics of your data. It's also a good practice to document any modifications made to the data.

Honestly, I don't understand some of the methods of handling outliers.